@model IEnumerable<Words_Learning.Models.Words>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
</div>



@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Список пользователей</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" />
</head>*@

    <div id="view-all">
        @await Html.PartialAsync("_ViewWords", Model)
    </div>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}